---
import { CHARS } from "~constants";
import {
  Article,
  BooleanField,
  Button,
  ButtonBar,
  EmailField,
  Fieldset,
  Form,
  Honeypot,
  StringField,
  TimeToRead,
} from "@sitebender/components";
import Layout from "~layouts/index.astro";
import type { PageMeta } from "@sitebender/components/src/types";
import * as getters from "~metadata/webPages/privacy-policy";

const { apostrophe: apos, ldquo, md, rdquo } = CHARS;

export const metadata: Partial<PageMeta> = {
  author: "Charles F. Munat, coder@scratchcode.academy",
  carbon: {
    beacon: {
      href: "https://digitalbeacon.co/report/scratchcode-academyprivacy-policy",
      firstCarbon: 0.011,
      grade: "A+",
      repeatCarbon: 0.007,
    },
    ecograder: {
      href: "https://ecograder.com/report/lEW0YmfjbtsXL68VMuLV7Ogh",
      score: 83,
    },
    webCarbon: {
      count: 0.01,
      href: "https://www.websitecarbon.com/website/scratchcode-academy-privacy-policy/",
      percentage: 99,
    },
  },
  ...getters,
  label: "Privacy",
  next: "/terms-of-use",
  pageTitle: "Our privacy policy ~ ScratchCode",
  prev: "/diversity-policy",
  title: "Our privacy policy",
};

const { getArticleData, title } = metadata;
const article = getArticleData ? getArticleData("") : undefined;
---

<Layout {metadata} noSubscribe {title}>
  <Article id="main-content" {title}>
    <TimeToRead {article} />
    <p>
      We collect personal information from you <strong>only</strong> when you
      use our forms. This may include your:
    </p>
    <ul>
      <li>Name</li>
      <li>Email Address</li>
      <li>Any other info you include</li>
    </ul>
    <p>We collect your personal information to:</p>
    <ul>
      <li>Respond to queries</li>
      <li>Provide updates to subscribers</li>
    </ul>
    <p>
      <strong
        >We do not collect or use your personal information for any purpose
        other than those given above.</strong
      >
    </p>
    <p>
      Providing this information to us is optional. We do not share your
      information with other parties. Ever. If you do not enter contact details,
      then you will not receive communications from us. It is up to you.
    </p>
    <p>
      If you do provide personal information, then we keep it safe. We do so by
      storing it securely online. These data are accessible by the
      Craft-Code.dev server and our web developers.
    </p>
    <p>
      That said, we presume that the employees of the online data services can
      access the data as well. Currently, we use two services.
    </p>
    <p>
      One is <a href="https://www.mailerlite.com/" rel="external">Mailerlite</a
      >, which maintains lists of subscribers (name and email address). The
      other is
      <a href="https://postmarkapp.com/" rel="external">Postmark</a>, which is
      used to send form submissions to us via email, but does not retain the
      content.
    </p>
    <p>
      You have the right to ask for a copy of any personal information we have
      of yours. We will make any corrections you desire or delete your
      information at your request. If you{apos}d like to ask for a copy of your
      information, or to have it corrected, please <a href="/contact"
        >contact us</a
      >.
    </p>
    <h2>Secure server</h2>
    <p>
      We serve the Craft-Code.dev site using <a
        href="https://en.wikipedia.org/wiki/Transport_Layer_Security"
        rel="external">Transport Layer Security</a
      > (TSL). This encrypts communications between your browser and our server,
      ensuring your privacy.
    </p>
    <p>
      Use of <abbr title="Transport Layer Security">TSL</abbr> is the current
      industry best practice and helps to ensure both your privacy and your
      security.
    </p>
    <p>
      We also have a <a
        href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP"
        rel="external">Content Security Policy</a
      > (CSP). We run a suite of automated tests to ensure that our site follows
      the latest best practices for security. Although there are no guarantees,
      we do our best to make Craft-Code.dev as safe and secure as possible.
    </p>
    <h2>Privacy by Design</h2>
    <p>
      We do our best to follow the seven <a
        href="https://www.iso.org/committee/6935430.html"
        rel="external">Privacy by Design</a
      > principles:
    </p>
    <ol>
      <li>Proactive not reactive; preventive not remedial</li>
      <li>Privacy as the default setting</li>
      <li>Privacy embedded into design</li>
      <li>Full functionality{md}positive-sum, not zero-sum</li>
      <li>End-to-end security{md}full lifecycle protection</li>
      <li>Visibility and transparency{md}keep it open</li>
      <li>Respect for user privacy{md}keep it user-centric</li>
    </ol>
    <h2>Our thoughts</h2>
    <p>
      We don{apos}t get why so many people want to spy on others.
    </p>
    <p>
      We do get why big, sociopathic organizations want you to think that your
      data belongs to <em>them</em>, not you. Then they monetize that data for
      their own benefit. And, no matter what they say, to your detriment. It{
        apos
      }s because they suck.
    </p>
    <p>You heard it here first.</p>
    <p>
      Craft-Code.dev is a <strong>craft</strong> operation, not a giant,
      soulless corporation. We are so small that there is almost no {ldquo}we{
        rdquo
      }.
    </p>
    <p>
      Our only interest is conversing with you. We don{CHARS.apostrophe}t and
      won{apos}t sell anything to anyone. Heck we operate this site at a loss.
      Which makes it a win for everyone. Except <em>them</em>.
    </p>
    <p>Hope that helps.</p>
    <p>
      Questions? Want to delete your data? Need help? Please use the form below
      to contact us with the specifics.
    </p>
    <Form
      action="/api/contact"
      method="post"
      name="contactForm"
      validation="default"
    >
      {
        ({ form }: { form: string }) => (
          <>
            <Fieldset label="Talk to us">
              <StringField
                cols={48}
                {form}
                label="Compose your message"
                message="We read them all and respond when we can."
                name="message"
                required
                rows={8}
                value=""
              />
              <EmailField
                {form}
                label="Provide your email address"
                message={`We can${CHARS.apostrophe}t respond without one.`}
                name="emailAddress"
                required
                size={32}
                value=""
              />
              <StringField
                {form}
                label="Add your name"
                message={`So we don${CHARS.apostrophe}t call you ${CHARS.ldquo}buddy${CHARS.rdquo} ${CHARS.ellipsis}`}
                name="name"
                size={32}
                value=""
              />
              <BooleanField
                {form}
                label="Notify me when you publish new articles."
                name="wantsUpdates"
                value="yes"
              />
            </Fieldset>
            <ButtonBar {form}>
              <Button {form} type="submit">
                Send your message
              </Button>
            </ButtonBar>
            <Honeypot {form} password="samizdat" />
          </>
        )
      }
    </Form>
  </Article>
</Layout>
