---
import { Article, Figure } from "@sitebender/components";
import { CHARS } from "~constants";
import CoderEmail from "~components/CoderEmail/index.astro";
import Layout from "~layouts/index.astro";
import { getFormTitle } from "@sitebender/components";
import { getSubject } from "@sitebender/components";
import type { PageMeta } from "@sitebender/components/src/types";
import { WebPage } from "@sitebender/components/src/types/schema.org";
import { collapseWhitespace } from "@sitebender/components";

const { apostrophe: apos } = CHARS;

export const metadata: Partial<PageMeta> = {
  author: "Charles F. Munat, coder@scratchcode.academy",
  getWebPageData: (version: string): WebPage => ({
    "@context": "https://schema.org",
    "@type": "WebPage",
    description: collapseWhitespace(`
			We were unable to process your media inquiry form submission
			because your name was missing. Please provide
			your name and resubmit the form. We cannot move forward
			on this without your name.
		`),
    version,
  }),
  label: "Media inquiry form missing name",
  next: "/media",
  pageTitle: "Media inquiry form missing name",
  robots: "noindex",
  title: getFormTitle("Media inquiry form", "Missing name"),
};
---

<Layout metadata={metadata} noSubscribe title={metadata.title}>
  <Article id="main-content">
    <header class="article-header">
      <h1>Uh, oh</h1>
    </header>
    <p><mark>Your name has gone missing.</mark></p>
    <p>
      We got your form submission. but <strong>we could not find a name</strong
      >. We need your name so we know with whom we are conferring.
    </p>
    <p>
      Our stubborn server refused to proceed without your name. <strong
        >We did not receive your submission.</strong
      >
    </p>
    <p>
      This is an automated process: <strong
        >no human has seen your submission yet.</strong
      >
    </p>
    <Figure caption="Oops.">
      <img
        alt=""
        height="360"
        src="/images/forms/missing-message.svg"
        style="margin: auto"
        width="360"
      />
    </Figure>
    <p>
      Please use your browser{apos}s <strong>back button</strong> to return to
      the <strong>media inquiry form.</strong> Then add your name and re-submit
      the form.
    </p>
    <p>
      Or send an email to <CoderEmail
        domain="scratchcode.academy"
        emailAddress="coder"
        subject={getSubject(metadata.title)}
      /> if you believe that you received this message in error. You can also
      use our <a href="/feedback">feedback form</a>.
    </p>
    <p>
      If you do email us, then please put <strong
        >{getSubject(metadata.title)}</strong
      > in the subject line.
    </p>
    <p>
      We do want to hear from you, so we hope we can get this straightened out.
      If we have somehow screwed this up or there is something that we could do
      better, then please do let us know.
    </p>
    <p>
      But please don{apos}t give up! <strong
        >We want to reach as many craft coders as possible</strong
      > to provide support and to let them know that they are <em>not alone</em
      >. Publicity is essential.
    </p>
  </Article>
</Layout>
