---
import {
	Article,
	BooleanField,
	Button,
	ButtonBar,
	EmailField,
	Fieldset,
	Form,
	Honeypot,
	StringField,
	TimeToRead,
} from "@sitebender/components";
import { CHARS } from "~constants";
import Layout from "~layouts/index.astro";
import type { PageMeta } from "@sitebender/components/src/types";
import * as getters from "~metadata/webPages/diversity-policy";

const { apostrophe: apos, ldquo, rdquo } = CHARS;

export const metadata: Partial<PageMeta> = {
	author: "Charles F. Munat, coder@scratchcode.academy",
	carbon: {
		beacon: {
			href: "https://digitalbeacon.co/report/scratchcode-academydiversity-policy",
			firstCarbon: 0.011,
			grade: "A+",
			repeatCarbon: 0.007,
		},
		ecograder: {
			href: "https://ecograder.com/report/tlnGXMA5Q7kGaxh9w4XqzbQB",
			score: 83,
		},
		webCarbon: {
			count: 0.01,
			href: "https://www.websitecarbon.com/website/scratchcode-academy-diversity-policy/",
			percentage: 99,
		},
	},
	...getters,
	keywords: [
		"craft code",
		"scratchcode.academy",
		"DEI",
		"diversity equity and inclusion",
		"diversity",
		"equity",
		"inclusion",
		"neurodivergent",
		"feedback",
		"community",
	],
	label: "Diversity",
	next: "/privacy-policy",
	pageTitle: "Our diversity policy ~ ScratchCode",
	prev: "/cookie-policy",
	title: "Our diversity policy",
};

const { getArticleData, title } = metadata;
const article = getArticleData ? getArticleData("") : undefined;
---

<Layout {metadata} noSubscribe {title}>
	<Article id="main-content" {title}>
		<TimeToRead {article} />
		<p>
			<a href="/glossary/d/#dei" rel="glossary"
				>Diversity, equity, and inclusion</a
			>
			 (DEI) is a set of <strong>protected characteristics.</strong> The intent
			is to safeguard individuals who fit into one or more of these categories.
			The
			<a
				href="https://www.equalityhumanrights.com/equality/equality-act-2010/protected-characteristics"
				rel="external">nine characteristics</a
			> are:
		</p>
		<ol>
			<li>Age</li>
			<li>Disability</li>
			<li>Gender reassignment</li>
			<li>Marriage or civil partnership</li>
			<li>Pregnancy and maternity</li>
			<li>Race</li>
			<li>Religion or belief</li>
			<li>Sex</li>
			<li>Sexual orientation</li>
		</ol>
		<p>
			We at ScratchCode find these characteristics too limiting. What about
			economic class? Or does that fall under disability? What about criminal
			convictions? If you have paid your debt to society, should we continue to
			punish you? If so, then what do we mean by {ldquo}paid your debt{rdquo}?
		</p>
		<p>
			It is a bit sad that anyone feels the need to list categories at all.
			Doesn{apos}t that imply that any group not listed is fair game? What about
			hair or eye color? What about native language? What about physical
			attractiveness? Manner of dress?
		</p>
		<p>
			Rather than list characteristics, we prefer to state when we <em>will</em>
			 discriminate.
		</p>
		<p>
			<strong>We do not care at all how you self-identify.</strong> That{apos}s
			your business, not ours. You might be a <a
				href="https://en.wikipedia.org/wiki/Furry_fandom"
				rel="external">furry</a
			>. Or a <a href="https://en.wikipedia.org/wiki/Nihilism" rel="external"
				>nihilist</a
			>. Or a professional <a
				href="https://en.wikipedia.org/wiki/Tiddlywinks"
				rel="external">tiddlywinks</a
			> player. Or a
			<a
				href="https://en.wikipedia.org/wiki/Society_for_Creative_Anachronism"
				rel="external">creative anachronist</a
			>.
		</p>
		<p><strong>We don{apos}t care.</strong> We{apos}re serious: have at it.</p>
		<p>
			Neither do we care where you were born, or what language you speak. We do
			not care if you are old or young, big or small, beautiful or butt ugly.
		</p>
		<p>
			<strong>We <em>do</em> care how you treat others</strong>. If you treat
			others with empathy, compassion, and kindness, then welcome to
			ScratchCode! If you do not, then we invite you to get lost. Please. There
			is no room here for antisocial jerks. Or overgrown infants.
		</p>
		<p>Let{apos}s all try to be mature adults then.</p>
		<p>
			Have have a legitimate
			<a href="https://en.wikipedia.org/wiki/Neurodiversity" rel="external"
				>neurodivergent</a
			> condition that sometimes hinders your ability to be social? No worries,
			then. We can work with that.
		</p>
		<p>
			But we reserve the right to ban anyone who refuses to play nice. And <em
				>we</em
			>
			 will be the judge of that.
		</p>
		<p>
			The ScratchCode community is a laid back, informal community of people who
			love craft coding. A community of people who want to engage with others
			who feel the same way. If that{apos}s you, then welcome aboard.
		</p>
		<p>
			Feel free to use our <a href="/feedback">feedback form</a> if you think we
			missed anything or got something wrong.
		</p>
		<p>
			Note: You must meet legal <strong>minimum age requirements</strong> for
			your locale to take part here. So there{apos}s that.
		</p>
		<p>Questions? Take them up with us using the form below.</p>
		<Form
			action="/api/contact"
			method="post"
			name="contactForm"
			validation="default"
		>
			{
				({ form }: { form: string }) => (
					<>
						<Fieldset label="Talk to us">
							<StringField
								cols={48}
								{form}
								label="Compose your message"
								message="We read them all and respond when we can."
								name="message"
								required
								rows={8}
								value=""
							/>
							<EmailField
								{form}
								label="Provide your email address"
								message={`We can${CHARS.apostrophe}t respond without one.`}
								name="emailAddress"
								required
								size={32}
								value=""
							/>
							<StringField
								{form}
								label="Add your name"
								message={`So we don${CHARS.apostrophe}t call you ${CHARS.ldquo}buddy${CHARS.rdquo} ${CHARS.ellipsis}`}
								name="name"
								size={32}
								value=""
							/>
							<BooleanField
								{form}
								label="Notify me when you publish new articles."
								name="wantsUpdates"
								value="yes"
							/>
						</Fieldset>
						<ButtonBar {form}>
							<Button {form} type="submit">
								Send your message
							</Button>
						</ButtonBar>
						<Honeypot {form} password="samizdat" />
					</>
				)
			}
		</Form>
	</Article>
</Layout>
