---
import { Article, Figure } from "@sitebender/components";
import { CHARS } from "~constants";
import CoderEmail from "~components/CoderEmail/index.astro";
import Layout from "~layouts/index.astro";
import { getFormTitle } from "@sitebender/components";
import { getSubject } from "@sitebender/components";
import type { PageMeta } from "@sitebender/components/src/types";
import { WebPage } from "@sitebender/components/src/types/schema.org";
import { collapseWhitespace } from "@sitebender/components";

const { apostrophe: apos, ldquo, rdquo } = CHARS;

export const metadata: Partial<PageMeta> = {
	author: "Charles F. Munat, coder@scratchcode.academy",
	carbon: {
		beacon: {
			href: "https://digitalbeacon.co/report/scratchcode-academyfeedbackinvalid-email",
			firstCarbon: 0.01,
			grade: "A+",
			repeatCarbon: 0.006,
		},
		ecograder: {
			href: "https://ecograder.com/report/C0jMdBZS0iWMyal75pRMxU6a",
			score: 83,
		},
		webCarbon: {
			count: 0.01,
			href: "https://www.websitecarbon.com/website/scratchcode-academy-feedback-invalid-email/",
			percentage: 99,
		},
	},
	getWebPageData: (version: string): WebPage => ({
		"@context": "https://schema.org",
		"@type": "WebPage",
		description: collapseWhitespace(`
			We were unable to process your feedback form submission
			because the email address you submitted was invalid.
			Please provide a valid email address (or leave it blank)
			and resubmit the form. We can do nothing while the email
			address is invalid.
		`),
		version,
	}),
	label: "Feedback form invalid email",
	next: "/feedback",
	pageTitle: "Feedback form invalid email  ~ ScratchCode",
	robots: "noindex",
	title: getFormTitle("Feedback form", "Invalid email"),
};
---

<Layout metadata={metadata} noSubscribe title={metadata.title}>
	<Article id="main-content">
		<header class="article-header">
			<h1>Uh, oh</h1>
		</header>
		<p><mark>We found a problem with your email address.</mark></p>
		<p>
			Our server found an email address in your form submission. But <strong
				>the submitted address appears to be invalid</strong
			>. If you want a reply from us, then we{apos}re gonna need a valid email
			address to which to send our response.
		</p>
		<p>
			Our stubborn server refused to accept an invalid email address.
			<strong>We did not receive your feedback.</strong>
		</p>
		<p>
			This is an automated process: <strong
				>no human has seen your submission yet.</strong
			>
		</p>
		<Figure caption="Oops.">
			<img
				alt=""
				height="360"
				src="/images/forms/invalid-email.svg"
				style="margin: auto"
				width="360"
			/>
		</Figure>
		<p>
			Please use your browser{apos}s <strong>back button</strong> to return to
			the <strong>feedback form.</strong> Edit your email address (or leave it
			blank if you do not need a reply). Then re-submit the form.
		</p>
		<p>
			Or send an email to <CoderEmail
				domain="scratchcode.academy"
				emailAddress="coder"
				subject={getSubject(metadata.title)}
			/> if you believe that you have received this message in error.
		</p>
		<p>
			If you do email us, then please put <strong
				>{getSubject(metadata.title)}</strong
			> in the subject line.
		</p>
		<p>
			We do want to hear from you, so we hope we can get this straightened out.
			If we have somehow screwed this up or there is something that we could do
			better, then please do let us know. We can{apos}t fix it if we don{apos}t
			know what {ldquo}it{rdquo} is. <strong>Your help is valuable.</strong>
		</p>
	</Article>
</Layout>
