---
import { Article, Figure } from "@sitebender/components";
import { CHARS } from "~constants";
import CoderEmail from "~components/CoderEmail/index.astro";
import Layout from "~layouts/index.astro";
import { getFormTitle } from "@sitebender/components";
import { getSubject } from "@sitebender/components";
import type { PageMeta } from "@sitebender/components/src/types";
import { WebPage } from "@sitebender/components/src/types/schema.org";
import { collapseWhitespace } from "@sitebender/components";

const { apostrophe: apos } = CHARS;

export const metadata: Partial<PageMeta> = {
	author: "Charles F. Munat, coder@scratchcode.academy",
	carbon: {
		beacon: {
			href: "https://digitalbeacon.co/report/scratchcode-academysubscribemissing-email",
			firstCarbon: 0.01,
			grade: "A+",
			repeatCarbon: 0.006,
		},
		ecograder: {
			href: "https://ecograder.com/report/uERvCes4IFOpOAO394QjoQGS",
			score: 83,
		},
		webCarbon: {
			count: 0.01,
			href: "https://www.websitecarbon.com/website/scratchcode-academy-subscribe-missing-email/",
			percentage: 99,
		},
	},
	getWebPageData: (version: string): WebPage => ({
		"@context": "https://schema.org",
		"@type": "WebPage",
		description: collapseWhitespace(`
			We were unable to process your get notified form submission
			because your email address was missing. Please provide a
			valid email address and resubmit the form. We can do nothing
			without a valid email address.
		`),
		version,
	}),
	label: "Get notified form missing email",
	pageTitle: "Get notified form missing email  ~ ScratchCode",
	robots: "noindex",
	title: getFormTitle("Get notified form", "Missing email"),
};
---

<Layout metadata={metadata} noSubscribe title={metadata.title}>
	<Article id="main-content">
		<header class="article-header">
			<h1>Uh, oh</h1>
		</header>
		<p><mark>Your email address has gone missing.</mark></p>
		<p>
			We got your form submission. But we were <strong
				>unable to find your email address</strong
			>. We need a valid email address to permit us to sign you up for updates.
		</p>
		<p>
			Our stubborn server refused to proceed without an email address. <strong
				>We did not receive your message.</strong
			>
		</p>
		<p>
			This is an automated process: <strong
				>no human has seen your submission yet.</strong
			>
		</p>
		<Figure caption="Oops.">
			<img
				alt=""
				height="360"
				src="/images/forms/missing-email.svg"
				style="margin: auto"
				width="360"
			/>
		</Figure>
		<p>
			Please use your browser{apos}s <strong>back button</strong> to return to
			the <strong>get notified form.</strong> Then add your email address and
			re-submit the form.
		</p>
		<p>
			Or send an email to <CoderEmail
				domain="scratchcode.academy"
				emailAddress="coder"
				subject={getSubject(metadata.title)}
			/> if you believe that you received this message in error. You can also
			use our <a href="/feedback">feedback form</a>.
		</p>
		<p>
			If you do email us, then please put <strong
				>{getSubject(metadata.title)}</strong
			> in the subject line.
		</p>
		<p>
			We are very sorry for this hassle and will try to correct the problem
			ASAP. <strong>But please do keep trying.</strong> We{apos}d love to keep
			you updated on our progress.
		</p>
	</Article>
</Layout>
