---
import { Article, Figure } from "@sitebender/components";
import { CHARS } from "~constants";
import CoderEmail from "~components/CoderEmail/index.astro";
import Layout from "~layouts/index.astro";
import { getFormTitle } from "@sitebender/components";
import { getSubject } from "@sitebender/components";
import type { PageMeta } from "@sitebender/components/src/types";
import { WebPage } from "@sitebender/components/src/types/schema.org";
import { collapseWhitespace } from "@sitebender/components";

const { apostrophe: apos } = CHARS;

export const metadata: Partial<PageMeta> = {
	author: "Charles F. Munat, coder@scratchcode.academy",
	carbon: {
		beacon: {
			href: "https://digitalbeacon.co/report/scratchcode-academyjoininvalid-url",
			firstCarbon: 0.01,
			grade: "A+",
			repeatCarbon: 0.006,
		},
		ecograder: {
			href: "https://ecograder.com/report/V4UIN6js7PsvptlZOBdnJrgz",
			score: 83,
		},
		webCarbon: {
			count: 0.01,
			href: "https://www.websitecarbon.com/website/scratchcode-academy-join-invalid-url/",
			percentage: 99,
		},
	},
	getWebPageData: (version: string): WebPage => ({
		"@context": "https://schema.org",
		"@type": "WebPage",
		description: collapseWhitespace(`
			We were unable to process your join us form submission because
			the URL you submitted was invalid. Please provide a valid
			website URL (or leave it blank) and then resubmit the
			form. No action can be while an invalid URL is included.
		`),
		version,
	}),
	label: "Join us form invalid URL",
	next: "/join",
	pageTitle: "Join us form invalid URL  ~ ScratchCode",
	robots: "noindex",
	title: getFormTitle("Join us form", "Invalid URL"),
};
---

<Layout metadata={metadata} noSubscribe title={metadata.title}>
	<Article id="main-content">
		<header class="article-header">
			<h1>Uh, oh</h1>
		</header>
		<p><mark>We found a problem with your website URL.</mark></p>
		<p>
			Our server found a URL in your form submission. But <strong
				>the submitted URL appears to be invalid</strong
			>. The URL is optional, but must be valid if supplied.
		</p>
		<p>
			Our stubborn server refused to accept an invalid email address.
			<strong>We did not receive your message.</strong>
		</p>
		<p>
			This is an automated process: <strong
				>no human has seen your submission yet.</strong
			>
		</p>
		<Figure caption="Oops.">
			<img
				alt=""
				height="360"
				src="/images/forms/invalid-email.svg"
				style="margin: auto"
				width="360"
			/>
		</Figure>
		<p>
			Please use your browser{apos}s <strong>back button</strong> to return to
			the <strong>join us form.</strong> Edit your URL or leave it blank, then
			re-submit the form.
		</p>
		<p>
			Or try again later. If it is urgent, then please send an email to <CoderEmail
				domain="scratchcode.academy"
				emailAddress="coder"
				subject={getSubject(metadata.title)}
			/> or try our <a href="/feedback">feedback form</a>.
		</p>
		<p>
			If you do email us, then please put <strong
				>{getSubject(metadata.title)}</strong
			> in the subject line.
		</p>
		<p>
			We do want to hear from you, so we hope we can get this straightened out.
			If we have somehow screwed this up or there is something that we could do
			better, then please do let us know. <strong
				>But please do keep trying.</strong
			>
		</p>
		<p>The ScratchCode Community wants YOU.</p>
	</Article>
</Layout>
